*.pyc
*.db
*~
.*

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
/venv/
MANIFEST
coverage.*
converge.*
.DS_Store
.project
.pydevproject
local.py
celeryconfig.py
logfile.log
output.dot
!.editorconfig
!.gitignore
!.travis.yml
!.isort.cfg
*.log*
*.idea
*.py[cod]
__pycache__/
env/
venv/
/venv
log/
# /migrations/
# migrations/
sonar-project.properties
.scannerwork
